{% extends "core/base.html" %}
{% load static %}

{% block title %}Acerca de{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url({% static 'core/img/about-bg.jpg' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Acerca de</h1>
              <span class="subheading">Biografía</span>
            </div>
          </div>
        </div>
      </div>
</header>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid avatar" src="{{ profile.image.url }}" alt="">
        </div>

        <div class="col-lg-7 col-md-8">

            <h2 class="section-heading">
                {{ persona.nombres }} {{ persona.apellidos }}
            </h2>

            <h5>{{ persona.titulo_academico }}</h5>

            <p>
                {{ persona.biografia }}
            </p>

            <hr>

            <p>
                <strong>Dirección:</strong>
                {{ persona.direccion }}
            </p>

            <p>
                <strong>Teléfono:</strong>
                {{ persona.telefono }}
            </p>

            <p>
                <strong>Correo:</strong>
                {{ persona.correo_electronico }}
            </p>

            <p>
                <strong>Dedicación:</strong>
                {{ persona.dedicacion_persona }}
            </p>

        </div>

    </div>
</div>

<hr>

{% endblock %}